body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.flexCont {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centerBox {
    
    width: 250px;
    height: 250px;
    margin-top: 100px;
    
}

.changeBtn {
    width: 250px;
    height: 100px;
    background-color: rgba(225, 80, 80, .8);
    border-style: none;
    padding: 5px;
    color: aliceblue;
    border-radius: 15px;
}

#changeBtnBox {
    display: none;
    flex-direction: row;
}

#loginBox {
    background-color: darkseagreen;
    padding: 10px;
    color: beige;
    border: 1px solid darkseagreen;
    border-radius: 15px;
    font-family: Arial;
}

#msgDiv {
    display: none;
    text-align: center;
    font-family: Arial;
    color: crimson;
    font-size: 30px;
}

#loginBtn {
    margin: 20px;
    padding-right: 30px;
    padding-left: 30px;
    
}

#logoutBtn {
    position: absolute;
    top: 0;
    right: 0;
}

#logoutBtn {
    display: none;
}

.btn {
    background-color: rgba(225, 80, 80, .8);
    border-style: none;
    padding: 5px;
    color: aliceblue;
}