.flexCont {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: floralwhite;
}



#chatBox {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: monospace;
    background-color: rgba(250, 250, 250, .8);
}

#messageBox {
    height: 400px;
    overflow: scroll;
}

#messageBox > div {
    flex: auto;
    width: 460px;
    overflow-wrap: break-word;
}

.chatMsg {
    padding: 10px;
    border: 1px solid rgba(115, 115, 115, .8);
}

.chatName {
    font-weight: bold;
    font-size: 16px;
}

.chatText {
    font-size: 16px;
}

.postedAt {
    font-size: 10px;
}

.rateBtn {
    width: 20px;
}

.redVote {
    color: firebrick;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.greenVote {
    color: forestgreen;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.navBar {
    background: rgba(50, 0, 25, .95);
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 5px;
}

.login {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

#welcome {
    margin-top: 40px;
}

#forget {
    float: right;
    margin-right: 10px;
}

.btn {
    background-color: rgba(150, 60, 65, .7);
    color: aliceblue;
    padding: 7px;
    font-family: Anton;
    border-width: 0;
    cursor: pointer;
}

.sendbtn {
    background-color: rgba(150, 60, 65, .7);
    color: aliceblue;
    font-family: Anton;
    border-width: 0;
    cursor: pointer;
}

h1 {
    font-family: Anton;
    color: rgba(0, 0, 0, .9);
}

#nameInput {
    margin-right: 5px;
}

img {
    cursor: pointer;
}

#welcomeTitleBox {
    position: absolute;
    top: 200px;
    display: block;
}

#welcomeTitleBox > p {
   text-align: center;
    font-family: Anton;
    font-size: 22px;
}

#welcomeTitle {
    font-family: Anton;
    font-size: 72px;
    text-align: center;
}

input {
    font-family: monospace;
    padding-left: 5px;
}


/* DROPDOWN LIKES DISLIKES */

.dropDown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: floralwhite;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.voteContent {
    padding-left: 5px;
    color: black;
}



